.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.App-checkout {
  background-color: rgb(253, 253, 252);
  border: 1px solid rgb(215, 212, 209);
  border-radius: 2px;
  box-shadow: 0 1px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 320px;
}

.App-checkout-body {
  flex-grow: 1;
  padding: 16px 23px;
}

.App-checkout-footer {
  align-items: center;
  border: 0 solid rgb(234, 234, 233);
  border-top-width: 1px;
  background-color: rgb(248, 249, 247);
  padding: 0 23px;
  display: flex;
  height: 72px;
}

.App-checkout-total {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 700;
}

.App-clear-button {
  margin-right: 10px;
}

.App-checkout-button {
  background: rgb(110, 187, 225);
  border-radius: 2px;
  color: white;
  padding: 9px 12px;
}
