body {
  background-color: #ECEAE9;
  color: rgb(125, 122, 122);
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-weight: inherit;
}
