.Item {
  border: 0 dashed rgb(223, 221, 218);
  height: 41px;
  display: flex;
  align-items: center;
}

.Item:not(:last-child) {
  border-bottom-width: 1px;
}

.Item-name {
  width: 130px;
}

.Item-total {
  color: rgb(229, 147, 104);
  flex-grow: 1;
  font-weight: 700;
  padding-right: 10px;
  text-align: right;
}

.Item-quantity {
  border: 1px solid rgb(215, 212, 210);
  border-radius: 2px;
  text-align: center;
  width: 20px;
}

.Item-remove {
  color: rgb(206, 204, 201);
  padding: 0;
}

.Item-remove:hover {
  color: rgba(156, 151, 145, 1);
}
